<h1><%= "#{t('message.editing')} #{t('activerecord.models.kind.one')}" %></h1>

<%= render 'form', kind: @kind %>
</br>
<%= link_to  t('buttons.show'), @kind, class: 'waves-effect waves-light btn'  %>
