<h1><%= "#{t('message.editing')} #{t('activerecord.models.phone.one')}" %></h1>

<%= render 'form', phone: @phone %>
</br>
<%= link_to "#{t('buttons.show')}", @phone, class: 'waves-effect waves-light btn' %>
