<h1><%= "#{t('message.editing')} #{t('activerecord.models.contact.one')}" %> </h1>

<%= render 'form', contact: @contact %>

<%= link_to t('buttons.show'), @contact, class: 'waves-effect waves-light btn' %>
