<h1><%= "#{t('message.editing')} #{t('activerecord.models.address.one')}" %></h1>

<%= render 'form', address: @address %> 
</br>
<%= link_to  t('buttons.show'), @address, class: 'waves-effect waves-light btn'  %>
